.title {
    margin: 10px;
    text-align: center;
    font-size: 23px;
}
.well {
    margin: 30px;
}

.github {
    text-align: center;
    margin-top: 80px;
}
.github img {
    width: 150px;
}
.span {
    margin: 10px;
}
.name {
    font-size: 16px;
    margin: 10px;
    font-weight: bold;
}